# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== IDE =====
.vscode/
.idea/

# ===== 操作系统 =====
.DS_Store
Thumbs.db

# ===== output =====
output/


# ===== Claude Code 个人配置 =====
.claude/settings.local.json

# ===== 个人文档 =====
report/
